---
import Layout from '../../layouts/Layout.astro';
import SingleMessage from '../../components/SingleMessage.jsx';

const response = await fetch('http://api:7777/messages');
const messages = await response.json();	
const { slug } = Astro.params;
const message = messages.find(m => m.id == slug);

if(!message) {
	return Astro.redirect("/404");
}
---
<Layout title="Welcome to messaging app">
	<main>
		<SingleMessage message={message} client:load />
	</main>
</Layout>


<style>
.grade-container{
	display: none;
}

.grade-container.active {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 35px;
  color: white;
  font-size: 1.2rem;
}

.grade-container.pass {
  background-color: green;
}

.grade-container.fail {
  background-color: orange;
}

.grade-container.error {
  background-color: red;
}
</style>


