---
import Layout from '../../layouts/Layout.astro';
import SingleMessage from '../../components/SingleMessage.jsx';


export async function getStaticPaths() {
	const response = await fetch('http://api:7777/messages');
	const { messages } = await response.json();
	
	return messages.map((message) => ({
			params: { slug: message.id },
			props: {...message}
		}
	))
}
const message  = Astro.props;
---
<Layout title="Welcome to messaging app">
	<main>
		<SingleMessage message={message} client:load />
	</main>
</Layout>


<style>
.grade-container{
	display: none;
}

.grade-container.active {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 35px;
  color: white;
  font-size: 1.2rem;
}

.grade-container.pass {
  background-color: green;
}

.grade-container.fail {
  background-color: orange;
}

.grade-container.error {
  background-color: red;
}
</style>


