---
import Layout from '../layouts/Layout.astro';
import Messages from '../components/Messages.jsx';
---
<Layout title="Welcome to messaging app">
	<main>
		<Messages client:load />
	</main>
</Layout>
