---
import Layout from '../layouts/Layout.astro';
import Wrapper from '../components/Wrapper.jsx';

// const response = await fetch('http://api:7777/messages');
// const { messages } = await response.json();
// console.log(messages)
---

<Layout title="Welcome to messaging app">
	<main>
		<Wrapper client:load />
	</main>
</Layout>
