---
import Layout from '../layouts/Layout.astro';
import Messages from '../components/Messages.jsx';

// const response = await fetch('http://api:7777/messages');
// const { messages } = await response.json();
// console.log(messages)
---
<Layout title="Welcome to messaging app">
	<main>
		<Messages client:load />
	</main>
</Layout>
